{{ with .Site.GetPage "/members" }}
<div class="section" id="{{ .Title | urlize }}">
    
    <h2 class="title is-2 has-text-centered">
        {{ .Title | markdownify }}
    </h2>

    <!-- Begin Members container -->
    {{ range .Pages.ByWeight }}
        {{ $useTwoColumns := .Params.useTwoColumns }}
        <div class="container">
            <h3 class="title is-2 has-text-centered">
                {{ .Title | markdownify }}
            </h3>
            {{ $sec_prefix := replace .File.Dir "/" "-" }}
            <div class="section">
                <div class="columns is-multiline">
                    {{ $totalMembers := (len .Pages) }}
                    {{ $numberOfMembersToShow := .Site.Params.home.numberOfMembersToShow | default $totalMembers }}
                    {{ range $index, $element := .Pages.ByWeight | first $numberOfMembersToShow }}

                    {{ $short_size := "400" }}
                    {{ $long_size := "500" }}
                    {{ $columWidth := "is-one-third" }}

                    {{ if $useTwoColumns }}
                        {{ $columWidth = "is-half" }}
                        {{ $short_size = "600" }}
                        {{ $long_size = "750" }}
                    {{ end}}

                    <div class="column {{ $columWidth }}">
                        <div class="card">
                            {{ $link_page := . }}
                            <div class="card-image">
                                {{ with .Resources.ByType "image" }}
                                {{ range first 1 (sort . "Params.weight") }}
                                {{ $image := . }}

                                {{ if gt $image.Height $image.Width }}
                                {{ $image = $image.Fill (printf "%sx%s smart" $short_size $long_size ) }}
                                <figure class="image is-4by5">
                                {{ else }}
                                {{ $image = $image.Fill (printf "%sx%s smart" $long_size $short_size ) }}
                                <figure class="image is-5by4">
                                {{ end }}

                                    <a href="{{ if $link_page.Params.external_link }}{{ $link_page.Params.external_link }}{{ else }}{{ $link_page.Permalink }}{{ end }}">
                                        <img src="{{ $image.Permalink }}" alt ="{{ $image.Name }}">
                                    </a>
                                </figure>
                                {{ end }}
                                {{ end }}
                            </div>
                            <div class="card-content has-text-centered top-pad">
                                <a href="{{ if .Params.external_link }}{{ .Params.external_link }}{{ else }}{{ .Permalink }}{{ end }}">
                                    {{ .Title | markdownify }}
                                    {{ if .Params.role }}
                                        <br/> {{ .Params.role }}
                                    {{ end }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
            {{ if lt $numberOfMembersToShow $totalMembers }}
            <div class="container has-text-centered top-pad">
                <a href="{{ .Permalink }}">{{ i18n "index_members_allMembers" . }}</a>
            </div>
            {{ end }}
        </div>
        <!-- End Members container -->
        <!-- Members modals -->
        {{ range $index, $element := .Pages.ByWeight | first $numberOfMembersToShow }}
        {{ if not .Params.external_link }}
        <div class="modal" id="project-{{ $index }}-{{ $sec_prefix }}">
            <div class="modal-background"></div>
            <div class="modal-card">
                {{ with .Title }}
                <header class="modal-card-header bottom-pad">
                    <p class="modal-card-title has-text-centered">{{ . }}</p>
                </header>
                {{ end }}

                {{ with .Resources.ByType "image" }}
                {{ $moreThenOneImage := gt (len .) 1 }}
                {{ if $moreThenOneImage }}
                <div class="owl-carousel owl-theme">
                {{ end }}
                    {{ range sort . "Params.weight" }}
                        {{ $image := .Fill "500x500 smart" }}
                        {{ if $moreThenOneImage }}
                        <div class="item owl-height">
                        {{ end }}
                            <img src="{{ $image.Permalink }}" class="img-responsive" alt="{{ $image.Name }}">
                        {{ if $moreThenOneImage }}
                        </div>
                        {{ end }}
                    {{ end }}
                {{ if $moreThenOneImage }}
                </div>
                {{ end }}
                {{ end }}

                {{ with .Content }}
                <section class="modal-card-body markdown">
                    {{ . }}
                </section>
                {{ end }}
            </div>
            <button class="modal-close is-large" aria-label="close" data-target="#project-{{ $index }}-{{ $sec_prefix }}"></button>
        </div>
        {{ end }}
        {{ end }}
    
    {{ end }}
    {{ partial "top-icon.html" . }}
</div>
<!-- End Members section -->
<div class="container"><hr></div>
{{ end }}
